.header
{
    text-align: center;
    background-color: #505050;
    color: #04d9ff;
    font-family: "Audiowide", sans-serif;
    padding: 1.3em;
}
.top_header
{
    font-size:1.5em;
}
.logo
{
    color: #04d9ff;
    font-family: "Audiowide", sans-serif;
}
.ide_left
{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap:1.3em;
    height: 1em;
    margin-top: -1.5em;
    color: white;
    font-size:x-small;
}
.ide_right
{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:1.3em;
    height: 1em;
    margin-top: -1.5em;
    color: white;
}
.links
{
    display:flex;
    flex-direction:row;
    background-color: #505050;
    gap: 2em;
    font-size: large;
}
a
{
    color: #04d9ff;
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: white;
}
.hello
{
    position: relative;
}
.main_content
{
    background-color: black;
    text-align: center;
    color:white;
    padding-bottom: 70%;
    width:100%;
    height:100%;
    font-size:x-large;
    display:inline-block;
}
.footer
{
    background-color: #505050FF;
    margin-top: -1.3%;
    width:100%;
    height:100%
}