.header
{
    text-align: center;
    background-color: #10879b;
    color: #f8f8f8;
    font-family: "Audiowide", sans-serif;
    padding: 1.3em;
}
.top_header
{
    font-size:1.5em;
}
#logo
{
    color: #10879b;
    font-family: "Audiowide", sans-serif;
}
#helmet
{
    color: #e17a0f;
    font-family: "Audiowide", sans-serif;
}
.header_logo
{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    gap:1.3em;
    height: 1em;
    margin-top: -1.5em;
    color: white;
    font-size:x-small;
    padding-bottom: 0.4%;
}
.links
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: #10879b;
    gap: 2em;
    font-size: large;
}
a
{
    color: white;
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: #e17a0f;
}
.main_content
{
    background-color: white;
    padding-bottom: 30%;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.main_flex
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.text
{
    font-size:large;
    color:black;
    font-family: Arial,sans-serif;
    line-height:2.0;
    float:right;
}
.background_events
{
    background-image: url("../images/boarder.jpg");
    background-size: contain;
}
.events_content
{
    color: #000000;
    width:100%;
    height:100%;
    font-size:large;
    display:flex;
    flex-direction: column;
    font-family: Arial,sans-serif;
    padding-top: 20%;
    padding-bottom: 34.9%;
}
.checklist_content
{
    color: #000000;
    padding-bottom: 30%;
    width:100%;
    height:100%;
    font-size:large;
    display:flex;
    justify-content: space-evenly;
    font-family: Arial,sans-serif;
    padding-top: 20%;
}
.background_checklist
{
    background-image: url("../images/boarder.jpg");
    background-size: contain;
}
.tut_content
{
    color: #000000;
    padding-bottom: 25%;
    width:100%;
    height:100%;
    font-size:large;
    display:flex;
    font-family: Arial,sans-serif;
    justify-content: space-evenly;
    padding-top: 20%;
}
.background_tut
{
    background-image: url("../images/boarder.jpg");
    background-size: contain;
}
.row
{
    display:flex;
    flex-direction: row;
}
.col
{
    display:flex;
    flex-direction: column;
}
h1
{
    text-align: center;
    color:#10879b;
}
.h1_white
{
    color:white;
}
table, th, td
{
    border-collapse: collapse;
    border: 3px solid #10879b;
    padding: 12.5px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
th
{
    color:white;
    background-color: #10879b;
}
tr:nth-child(even)
{
    background-color: white;
}
tr:nth-child(odd)
{
    background-color: white;
}
.footer
{
    background-color: #10879b;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    font-family: "Audiowide", sans-serif;
    color: white;
    justify-content: end;
    border-bottom: 0;
    margin-bottom: 0;
}
.titles
{
    text-align: center;
}